.box {
    margin-top: 250px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    width: 330px;
    height: 113px;
}

.box2 {
    margin-left: auto;
    margin-right: auto;
    width: 1206px;
    background-color: #EEEEEE;
    margin-bottom: 1px;
}

.box3 {
    float: left;
    height: 75px;
    width: 30%;
    background-color: #7EE5DA;
    text-align: center;
    margin: 0.2% 0.2% 0.2% 0;
    padding-top: 15px;
    font-size: 16px;
}
.box4 {
        float: left;
        height: 70px;
        width: 16%;
        background-color: #70CCC2;
        text-align: center;
        margin: 0.0% 0.0% 0.2% 4%;
        padding-top: 5px;        
        font-size: 13px;    
}
.box5 {
    float: left;
    height: 90px;
    width: 41.5%;
    background-color: #6ab4ad;
    text-align: center;
    margin: 0% 1% 1.2% 4% ;
    padding-top: 5px;
    font-size: 13px;
}

.footer {
    /*Altbilgi*/
    float: left;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 4px;
    padding-top: 12px;
    font-size: 13px;
}